##mako

## TODO Move this to static_static templates

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="pagetitle">${_("Frequently Asked Questions")}</%block>

<%block name="js_extra">
<script src="${static.url('js/help.js')}"></script>
</%block>

<%block name="headextra">
<meta name="title" content="ITMOcourses | Часто задаваемые вопросы" />
<meta name="description" content="ITMOcourses ‒ открытое онлайн­обучение ­ это бесплатный доступ для всех желающих к учебным онлайн­курсам, разработанным в Университете ИТМО!" />
<meta name="keywords" content="онлайн курсы бесплатно, курсы итмо, онлайн обучение, обучающие курсы, онлайн образование" />
</%block>

## TODO Move out two legacy classes from here
<section class="container about ifmo-content static-container help">

<h1>Ответы на частые вопросы</h1>
  <hr class="horizontal-divider">

 <section class="questions">
    <section class="responses">
        <section id="edx_basics_faq" class="category">

            <article class="response">
                <h3 class="question">Что такое «ITMOcourses ‒ открытое онлайн-обучение»?</h3>
                <div class="answer" id="edx_basics_faq_answer_0">
                    <p>Образовательный проект «ITMOcourses ‒ открытое онлайн-обучение» был создан с целью предоставления всем желающим бесплатного доступа к учебным электронным курсам, разработанным в Университете ИТМО.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Какие курсы можно пройти на ITMOcourses?</h3>
                <div class="answer" id="edx_basics_faq_answer_1">
                    <p>Наши курсы охватывают очень широкий спектр дисциплин. Полный список курсов Вы можете найти на странице <a href="http://courses.ifmo.ru/courses">courses.ifmo.ru/courses</a>.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Почему на ITMOcourses некоторые курсы повторяются, например «Теория графов»?</h3>
                <div class="answer" id="edx_basics_faq_answer_2">
                    <p>Если на главной странице ITMOcourses Вы видите курсы с одинаковым  названием, но разным кодом, то это значит, что этот курс запускался уже несколько раз. Если посмотреть внимательнее, то можно заметить, что у данных курсов разные даты начала и окончания курса. Кроме того, перед каждым запуском в курс вносятся изменения с целью актуализации его содержания и повышения эффективности курса.</p>
                </div>
            </article>


            <article class="response">
                <h3 class="question">На каком языке ведется обучение?</h3>
                <div class="answer" id="edx_basics_faq_answer_3">
                    <p>Сейчас все курсы на ITMOcourses читаются на русском языке. Для удобства слушателей у каждой видеолекции есть субтитры. В дальнейшем планируются разработка курсов на других языках, а также перевод субтитров существующих курсов с русского на другие языки.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Как проходит обучение?</h3>
                <div class="answer" id="edx_basics_faq_answer_4">
                    <p>В основе большинства курсов находятся видеолекции, однако есть и такие курсы, которые основаны только на интерактивных демонстрациях и заданиях.  Когда Вы зарегистрируетесь на какой-либо курс, то сможете учиться в своем собственном темпе. Наши курсы призваны помочь Вам усвоить новый материал быстро и эффективно - средняя продолжительность 8 недель.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Существует ли график занятий?</h3>
                <div class="answer" id="edx_basics_faq_answer_5">
                    <p>В ходе обучения слушать лекции и изучать материалы Вы можете в любое удобное для Вас время. Однако к курсам также прикреплены и интерактивные задания, которые необходимо выполнить не позднее двух недель от назначенного срока. Виды материалов и работ могут отличаться от курса к курсу. Все это подробно описано на страничке курса.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Как попасть на страницу курса?</h3>
                <div class="answer" id="edx_basics_faq_answer_6">
                    <p>Ознакомьтесь со всем перечнем курсов на <a href="http://courses.ifmo.ru">courses.ifmo.ru</a> и кликните на иконку того, который Вас заинтересовал. После этого перед собой Вы увидите индивидуальную страницу курса - на ней Вы сможете ознакомиться с подробным описанием, сроками и промо-роликом курса,  а также записаться на него. Если Вы уже вошли в систему и записаны на данный курс, то, кликнув на иконку и выбрав «Перейти к курсу», Вы попадете на страницу «Информация о курсе» и увидите информацию о курсе. Чтобы просмотреть содержание курса (видео и задания) необходимо выбрать вкладку «Содержание курса».</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Какова стоимость обучения?</h3>
                <div class="answer" id="edx_basics_faq_answer_7">
                    <p>Все курсы, предлагаемые на ITMOcourses, абсолютно бесплатны.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Получу ли я какое-либо свидетельство по окончании курсов?</h3>
                <div class="answer" id="edx_basics_faq_answer_8">
                    <p>Все курсы предполагают получение именных сертификатов об их прохождении. Сертификат за подписью автора курса высылается слушателям по электронной почте. Дополнительную информацию можно узнать на странице каждого из курсов. Для слушателей, проходящих обучение по схожим дисциплинам в Университете ИТМО, сертификат может служить основанием для перезачета результатов обучения.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Как записаться на курс?</h3>
                <div class="answer" id="edx_basics_faq_answer_9">
                    <p>Создайте учетную запись на сайте <a href="http://courses.ifmo.ru">courses.ifmo.ru</a>. Далее, чтобы войти в систему, нажмите «Вход». Введите свой логин (e-mail) и пароль. Затем перейдите на страницу <a href="http://courses.ifmo.ru/courses">courses.ifmo.ru/courses</a>, откройте страницу понравившегося курса и нажмите «Register for...».</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Как создать учетную запись на courses.ifmo.ru?</h3>
                <div class="answer" id="edx_basics_faq_answer_10">
                    <p>Студенты и сотрудники Университета ИТМО могут войти в систему, воспользовавшись логином и паролем от своей учетной записи в <a href="https://de.ifmo.ru">AcademicNT</a>. Но также любой желающий может зарегистрироваться в системе ITMOcourses, просто имея электронный ящик. Для этого необходимо выполнить короткую последовательность простых действий:
                        <ul>
                            <li>Перейдите на <a href="http://courses.ifmo.ru">courses.ifmo.ru</a>.</li>
                            <li>Нажмите «Вход» в правом верхнем углу.</li>
                            <li>Нажмите кнопку «Создать учетную запись».</li>
                            <li>Введите <b>реальные</b> данные, а также адрес электронной почты. Нажмите кнопку «Регистрация».</li>
                            <li>В электронном письме перейти по ссылке.</li>
                        </ul>
                    </p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Будут ли добавляться новые курсы?</h3>
                <div class="answer" id="edx_basics_faq_answer_11">
                    <p>Безусловно! Список курсов постоянно пополняется. Следите за обновлениями в группе!</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question"> Как понять, на какие курсы сейчас можно записаться, а на какие нет?</h3>
                <div class="answer" id="edx_basics_faq_answer_12">
                    <p>На главной странице <a href="http://courses.ifmo.ru">courses.ifmo.ru</a> представлены иконки всех курсов, существующих в системе. Если в левом верхнем углу иконки есть ярлык «new», значит этот курс новый и запустится в ближайшее время. Также, если навести указатель мыши на иконку, всплывет информация о дате запуска и окончания курса. Регистрация на курс доступна еще две недели после его начала.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Кто проверяет задания в курсах?</h3>
                <div class="answer" id="edx_basics_faq_answer_13">
                    <p>Задания проверяются системой или другими слушателями. Вы всегда можете связаться с преподавателем на форуме сайта и задать ему интересующие Вас вопросы по курсу. Для этого откройте вкладку «Discussion» во время работы с курсом.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Как я могу пообщаться с людьми, которые проходят такой же курс, как и я?</h3>
                <div class="answer" id="edx_basics_faq_answer_14">
                    <p>Для неформального общения слушателей мы создали тематические обсуждения в нашей группе в <a href="https://vk.com/elearning.itmo" target="_blank">vk.com/elearning.itmo</a>.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Сколько курсов я могу слушать?</h3>
                <div class="answer" id="edx_basics_faq_answer_15">
                    <p>Вы можете одновременно быть записанным на любое количество активных курсов. При желании и возможности Вы можете закончить их все, или отказаться от какого-то из них в процессе обучения, просто не выполняя задания.</p>
                </div>
            </article>

            <article class="response">
                <h3 class="question">Если я когда-то бросил курс и теперь хочу слушать его заново. Должен ли я заново прослушать уже сданный материал?</h3>
                <div class="answer" id="edx_basics_faq_answer_16">
                    <p>Да. Вы должны освежить Ваши знания. Это необходимо для интенсивного погружения в материал.</p>
                </div>
            </article>

      </section>

    <!-- responses -->
    </section>

     <!--<nav class="categories">-->
      <!--<a href="#edx_basics_faq">ITMOcourses Basics</a>-->
      <!--<a href="#classes_faq">The Classes</a>-->
      <!--<a href="#certificates_and_credits_faq">Certificates and Credits</a>-->
      <!--<a href="#other_help_faq">Other Help Questions - Account Questions</a>-->
    <!--</nav>-->

    <!-- questions -->
    </section>



  </section>
