##mako

## TODO Move this to static_static templates

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="pagetitle">${_("Terms of service")}</%block>

<section class="container about ifmo-content">

    <h1>Пользовательское соглашение</h1>

    <hr class="horizontal-divider">

    <h2>Основные термины</h2>
    <p>Информационно-образовательная среда НИУ ИТМО (ИОС) – совокупность информационных и телекоммуникационных технологий, соответствующих технологических средств и электронных онлайн-курсов, объединенных общей образовательной задачей и единым адресным пространством домена ifmo.ru.</p>
    <p>Пользователь – лицо, прошедшее процедуру регистрации, получившее индивидуальный логин и пароль, а также имеющее свой Профиль. Для целей Пользовательского соглашения под Пользователем понимается также лицо, которое не прошло процедуру регистрации, но осуществляет доступ к ИОС и/или использует и/или использовало ее. Любое лицо, осуществляющее доступ к ИОС, этим автоматически подтверждает, что оно полностью согласно с положениями Пользовательского соглашения, и что в отношении него применимы требования, установленные Пользовательским соглашением.</p>
    <p>Администрация – лица, уполномоченные на специальное использование ИОС, в том числе управление, и действующие от имени ИОС, если не указано иное.</p>
    <p>Контент – любое информационно-значимое наполнение ИОС, в том числе в виде текстов, рецензий, комментариев, анонсов, фото, видео, включая новости и прочие материалы, оставленные Пользователем в ИОС под своей Учетной записью.</p>
    <p>Учетная запись пользователя (Аккаунт) – интернет-пространство, защищенное паролем. Содержит информацию о Пользователе и Контент, сгенерированный Пользователем. Учетная запись содержит личные и контактные данные Пользователя, включая, но не ограничиваясь, такой информацией как почтовый и электронный адреса, тексты, фотографии, видео, возраст, пол, интересы.</p>

    <h2>Предмет Пользовательского соглашения </h2>
    <p>Настоящее Пользовательское соглашение (далее Соглашение) регламентирует использование Пользователем услуг ИОС. Пользователем признается физическое лицо, надлежащим образом присоединившееся к настоящему Соглашению.</p>
    <p>Текст Соглашения выводится Пользователю при регистрации в ИОС. Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями путем прохождения регистрации и действует в течение всего времени предоставления и использования услуг.</p>

    <h2>Ограничение ответственности Администрации</h2>
    <p>Администрация не несет ответственности перед Пользователем или любыми третьими лицами:</p>
    <ul>
        <li>за действия Пользователя в ИОС;</li>
        <li>за содержание и законность, достоверность информации, используемой/ получаемой Пользователем в ИОС;</li>
        <li>за последствия применения информации, используемой/получаемой Пользователем в ИОС;</li>
        <li>за то, что пользователи являются действительно теми людьми, за кого себя выдают, и не несет ответственности за возможный ущерб, причиненный пользователями другим лицам;</li>
        <li>за любой прямой, косвенный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванные использованием ИОС или результатов интеллектуальной деятельности, размещенных в ИОС.</li>
    </ul>

    <h2>Администрация имеет право:</h2>
    <p>В любое время изменять оформление ИОС, ее Контент, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся в ИОС.</p>
    <p>При необходимости отправлять Пользователям по электронной почте сообщения, касающиеся использования ИОС.</p>
    <p>Изменять (модерировать) или удалять любой Контент, нарушающий настоящее Соглашение, а также приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов ИОС с предварительным уведомлением или без такового.</p>

    <h2>Пользователь имеет право:</h2>
    <p>Размещать в своем профиле Контент, не противоречащий данному Соглашению.</p>
    <p>Обращаться к Администрации Системы с целью разрешения спорных вопросов.</p>
    <p>Бесплатно пользоваться всем Контентом системы в личный целях, не сопряженных с целями получения коммерческой выгоды.</p>

    <h2>Пользователь обязуется: </h2>
    <p>Принимать надлежащие меры для обеспечения сохранности личного логина и пароля для доступа к ИОС.</p>
    <p>Регулярно знакомиться с содержанием настоящего Соглашения в целях своевременного ознакомления с его изменениями.</p>
    <p>Нести полную ответственность за любые действия, совершенные с использованием его Аккаунта, а также за любые последствия, которые могло повлечь или повлекло подобное его использование.</p>
    <p>Пользователь, используя тот или иной модуль ИОС, обязуется соблюдать правила пользования этим модулем ИОС, если таковые существуют и описаны в этом модуле.</p>
    <p>Используя информацию из ИОС, Пользователь осознает и принимает риски, связанные с ее возможной недостоверностью, а также с тем, что некоторая информация может показаться ему угрожающей, оскорбительной, клеветнической, заведомо ложной, грубой, непристойной. Если это произошло, Пользователь должен немедленно сообщить Администрации о наличии подобной информации.</p>

    <h2>Настоящим Соглашением в ИОС запрещается:</h2>
    <p>Размещать любую рекламу, за исключением случаев, санкционированных Администрацией, а также в рамках сервисов размещения коммерческих объявлений и рекламы, предоставляемых ИОС на условиях, оговариваемых отдельно.</p>
    <p>Размещать коммерческие предложения, агитационные материалы, распространять спам, любую другую навязчивую информацию.</p>
    <p>Размещать любую информацию, нарушающую права пользователей или третьих лиц на объекты интеллектуальной собственности.</p>
    <p>Домогаться, притеснять, оскорблять, назойливо преследовать или иначе злонамеренно доставлять беспокойство любому Пользователю ИОС.</p>
    <p>Запрещается двойная регистрация (две и более учетных записи). В случае выявления подобного факта, Администрация оставляет за собой право заблокировать учетные записи Пользователя. </p>
    <p>Загружать, публиковать и передавать иным способом следующий Контент:</p>
    <ul>
        <li>содержащий информацию, нарушающую законы РФ;</li>
        <li>оскорбительный по отношению к другим пользователям и третьим лицам;</li>
        <li>вульгарный, непристойный, порнографического характера;</li>
        <li>служебного характера или не подлежащий разглашению;</li>
        <li>нарушающий права третьих лиц;</li>
        <li>рекламного характера;</li>
        <li>содержащий угрозы, клеветническую, дискредитирующую информацию;</li>
        <li>носящий мошеннический характер;</li>
        <li>пропагандирующий расовую, религиозную, этническую ненависть или вражду, любую иную информацию, нарушающую охраняемые законом права человека и гражданина.</li>
    </ul>

    <h2>Права на Контент, размещенный в ИОС</h2>
    <p>Все используемые и размещенные в ИОС результаты интеллектуальной деятельности являются интеллектуальной собственностью их законных правообладателей и охраняются законодательством об интеллектуальной собственности России, а также соответствующими международными правовыми конвенциями.</p>
    <p>Никакой Контент не может быть воспроизведен, переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование материала любым лицом, за исключением случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации.</p>

    <h2>Заключительные положения</h2>
    <p>Настоящее Соглашение представляет собой публичную оферту, в соответствии со ст. 435 ГК РФ. Согласием Пользователя с условиями настоящего Соглашения (акцептом) считается фактическое пользование ИОС, ее сервисами и результатами интеллектуальной деятельности размещенными в ней.</p>

</section>