##mako

## TODO Move this to static_static templates

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="pagetitle">${_("About us")}</%block>

<section class="container about ifmo-content">

    <h1>О нас</h1>

    <hr class="horizontal-divider"/>

    <p>
    Образовательный проект "ITMOcourses &#8210; открытое онлайн-обучение" предоставляет бесплатный доступ к учебным электронным курсам, разработанным в НИУ ИТМО и призван обеспечить комфортные условия для получения качественных знаний в удобное время в любой точке мира.
    </p>


    <h2>Цели проекта</h2>
    <ul type="disc">
        <li style="font: normal 1em/1.6em arial;">доступность и качество образования</li>
        <li style="font: normal 1em/1.6em arial;">мобильность обучающихся</li>
        <li style="font: normal 1em/1.6em arial;">повышение мирового авторитета университета</li>
    </ul>

    <p>
    Под доступностью в широком смысле понимается возможность повышения вариативности подготовки, учета различных уровней сложности и направленности обучения в соответствии с индивидуальными возможностями и потребностями обучающегося, возможность обучения вне зависимости от его местонахождения и формы обучения, а также снижение стоимости обучения.
    </p>

    <h2>Подход</h2>
    <p>
    Подготовка востребованных и конкурентоспособных специалистов осуществляется в НИУ ИТМО на основе реализации компетентностно-ориентированных образовательных программ в соответствии с требованиями ФГОС ВПО, потребностями рынка труда и обучающихся. Формирование и оценивание компетенций обучающихся на основе деятельностного характера обучения требует применения активных и интерактивных образовательных технологий (преподавания, обучения и оценивания), в том числе технологий электронного и дистанционного обучения.
    </p>

</section>