// Переопределение сетки курсов на странице поиска, на
// курсы приходится на одну колонку меньше, одна колонка
// отведена под список категорий.
.find-courses .courses-container .ifmo-courses-and-catalog-container .courses .courses-listing {

  .ifmo-courses-listing-item {

    @include media($bp-medium) {
      @include span-columns(8); // 4 of 8
      @include omega(1n);
    }

    @include media($bp-large) {
      @include span-columns(6); // 4 of 12
      @include omega(2n);
    }

    @include media($bp-huge) {
      @include span-columns(4); // 3 of 12
      @include omega(3n);
    }

  }

}

// Контейнер колонки с категориями и контейнера курсов.
.find-courses .courses-container .ifmo-courses-and-catalog-container {
  @include outer-container;

  //Кнопка More courses
  .ifmo-catalog-more-courses{
    clear: both;
    float: right;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
    color: #0078b0;

    &:hover{
      text-decoration: underline;
    }
  }
}

// Выделенная кололнка под категории.
.find-courses .courses-container .ifmo-courses-and-catalog-container .ifmo-catalog-container {

  @include media($bp-medium) {
    @include span-columns(4); // 4 of 8
  }

  @include media($bp-large) {
    @include span-columns(4); // 4 of 12
  }

  @include media($bp-huge) {
    @include span-columns(3); // 3 of 12
  }

  padding-top: $baseline*2;

  .ifmo-catalog {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    background: #fafafa;
    border: 1px solid #bebebe;
    border-radius: 2px;

    h3 {
      font-weight: bold;
      margin: $baseline/2;
      font-family: $f-sans-serif;
    }

    hr {
      margin: $baseline/2 0;
    }

    ul {
      list-style: none;
      padding: 0;

      ul {
        margin: $baseline/4 0;

        li {
          font-size: 1em;
          padding-left: $baseline*2;
          padding-top: $baseline/2;
          padding-bottom: $baseline/2;
          cursor: pointer;

          &.highlighted {
            background-color: #0078b0*0.8;
            color: white;
          }

          &:hover {
            background-color: #0078b0;
            color: white;
          }
        }
      }
    }

      h4{
        font-family: $f-sans-serif;
        font-size: 1em;
        padding-left: $baseline;
        font-weight: bold;
      }
    }
  }

//Заголовок, который показывается, если курсы не найдены
.ifmo-no-courses-found{
  font-family: $f-serif;
  font-style: italic;
  margin: $baseline/2;
  font-size: $baseline;
  display: none;
}


//Отображение в course-about
.course-info .course-sidebar .important-dates .important-dates-item.ifmo-course-about-catalog{
  ul{
    list-style-type: disc;
    padding-left: $baseline*2;
    padding-top: $baseline/4;
    clear: both;
    font-weight: normal;
  }

  li{
    margin: $baseline/2 0;
    padding: 0;
    border: none;
  }
}

// Поиск по курсам
.ifmo-catalog-search{
  padding-top: $baseline/2;
  padding-right: $baseline/2;
  padding-left: $baseline/2;
  display: table;
  box-sizing: border-box;
  width: 100%;

  .icon{
    font-size: $baseline;
    padding-right: $baseline/2;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  input{
    width: 100%;
    display: table-cell;
  }
}

// Контейнер с курсами.
.find-courses .courses-container .ifmo-courses-and-catalog-container .courses.ifmo-override {

  @include media($bp-medium) {
    @include span-columns(4); // 4 of 8
  }

  @include media($bp-large) {
    @include span-columns(8); // 4 of 12
  }

  @include media($bp-huge) {
    @include span-columns(9); // 3 of 12
  }
  @include omega();

}

div#ifmo-total-courses {
  font-family: $f-sans-serif;
  font-size: 2em;

  .ifmo-total-courses-matching {
    display: none;
  }
}