// Переопределение сетки курсов на странице поиска, на
// курсы приходится на одну колонку меньше, одна колонка
// отведена под список категорий.
.find-courses .courses-container .ifmo-courses-and-catalog-container .courses .courses-listing {

  .ifmo-courses-listing-item {

    @include media($bp-medium) {
      @include span-columns(8); // 4 of 8
      @include omega(1n);
    }

    @include media($bp-large) {
      @include span-columns(6); // 4 of 12
      @include omega(2n);
    }

    @include media($bp-huge) {
      @include span-columns(4); // 3 of 12
      @include omega(3n);
    }

  }

}

// Контейнер колонки с категориями и контейнера курсов.
.find-courses .courses-container .ifmo-courses-and-catalog-container {
  @include outer-container;
}

// Выделенная кололнка под категории.
.find-courses .courses-container .ifmo-courses-and-catalog-container .ifmo-catalog-container {

  @include media($bp-medium) {
    @include span-columns(4); // 4 of 8
  }

  @include media($bp-large) {
    @include span-columns(4); // 4 of 12
  }

  @include media($bp-huge) {
    @include span-columns(3); // 3 of 12
  }

  padding-top: 40px;

  .ifmo-catalog {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    background: #fafafa;
    border: 1px solid #bebebe;
    border-radius: 2px;

    h3 {
      font-weight: bold;
      margin: 8px;
      font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
    }

    hr {
      margin: 8px 0;
    }

    ul {
      list-style: none;
      padding: 0;

      ul {
        margin: 5px 0;

        li {
          font-size: 13px;
          padding-left: 12px;
          padding-top: 3px;
          padding-bottom: 3px;

          &.highlighted {
            background-color: #0078b0;
            color: white;
          }

          &:hover {
            background-color: #0078b0;
            color: white;
          }
        }
      }
    }

    h4 {
      font-size: 14px;
      padding-left: 8px;
      font-weight: bold;
    }
  }
}

// Контейнер с курсами.
.find-courses .courses-container .ifmo-courses-and-catalog-container .courses.ifmo-override {

  @include media($bp-medium) {
    @include span-columns(4); // 4 of 8
  }

  @include media($bp-large) {
    @include span-columns(8); // 4 of 12
  }

  @include media($bp-huge) {
    @include span-columns(9); // 3 of 12
  }
  @include omega();

}
