.ifmo-courses-header {

  span {
      /* TODO: fill parent here */
      display: none;
      width: 30%;
    }

  a {
    color: #3c3c3c !important;
    text-decoration: none !important;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid;
    }

    &.active {
      color: #0078b0 !important;
    }

  }

}

// По умолчанию прячем все курсы
li.course-item {
  display: none;
}

// Dropdown пошире, чтобы не было переноса строк "Отписка" и "Настройки почты"
.dashboard .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown {
  min-width: 220px !important;

  ul.actions-dropdown-list li.actions-item a.action {
    width: 100% !important;
  }
}

// Снизу обрезаются выносы букв, например g, j q...
.dashboard .profile-sidebar .user-info>ul li span.data {
  padding-bottom: 3px !important;
}