@import 'base/grid-settings';
@import 'neat/neat'; // lib - Neat

.ifmo {

  &-logo {
    height: 47px;
    width: auto;
  }

  &-modal {

    &-text {
      margin: 30px;
      text-align: center;
    }

  }

  &-references {
    margin: 0 !important;
  }

}

// Увеличение шрифта ссылки "view all courses" в index.html
.courses-more-cta.ifmo-view-all-courses {
  font-size: 1.5em;
}

@import "search_image";
@import "content";
@import "course";
@import "dashboard";
@import "catalog";
@import "course_about";