.ifmo {

  &-logo {
    height: 47;
    width: auto;
  }

  &-content {

    p {
      color:#3C3C3C;
      font: normal 1em/1.6em sans;
      text-align:justify;
    }

    ul {
      list-style-type: disc;

      li {
        // TODO Why this needs to be important?
        font: normal 1em/1.6em sans !important;
      }

    }

    td {
      padding: 20px;
    }

  }

  &-course {

    &-author {
      display: block;
      color: #646464;
      letter-spacing: 1px;
    }

  }

  &-search {

    &-background {
      background-color: transparent !important;
      /*background-size: 100% !important;
      background-position: center top !important;*/

      &-b0 {
        background-image: url('../themes/ifmo/images/homepage-bg0.jpg') !important;
      }

      &-b1 {
        background-image: url('../themes/ifmo/images/homepage-bg1.jpg') !important;
      }

      &-with-punchline {
        margin-top: 0px !important;
      }

    }

    &-punchline {
      width: 100%;
      background: rgba(30,30,30,0.9);
      color: #eee;
      font-size: 1.5em;
      text-align: center;
      padding: 1em 0em;
    }

  }

  &-modal {

    &-text {
      margin: 30px;
      text-align: center;
    }

  }

  &-code-of-honour {



  }

}


// Fix for course description in course list do properly display course_author field.
article.course .info div.desc {
  height: 95px !important;
}