.ifmo {

  &-logo {
    height: 47px;
    width: auto;
  }

  &-modal {

    &-text {
      margin: 30px;
      text-align: center;
    }

  }

  &-references {
    margin: 0 !important;
  }

}

@import "search_image";
@import "content";
@import "course";
@import "dashboard";
@import "catalog";