/*
    Картинка поиска на страницах с курсами:
      /
      /courses
      /course/.../about
*/
.ifmo {

  &-search {

    &-background {
      background: url('../themes/ifmo/images/logo_header_3_1.png') center top !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      -moz-background-size: cover !important;
      -webkit-background-size: cover !important;

      // "Наследство" от старого шаблона
      margin-top: 0 !important;
      height: 300px !important;
      border-bottom: 1px solid #646464;

      &-b0 {
        background-image: url('../themes/ifmo/images/logo_header_3_1.png') !important;
      }

      &-b1 {
        background-image: url('../themes/ifmo/images/logo_header_4_1.png') !important;
      }

      &-with-punchline {
        height: 450px !important;
      }

    }

    &-punchline {
      width: 100%;
      background: rgba(30,30,30,0.9);
      color: #eee;
      font-size: 1.5em;
      text-align: center;
      padding: 1em 0;
    }

  }

}