<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _, ungettext as _s
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from ifmo_catalog.utils import get_course_categories_ids
%>
<%page args="course" />
<%
  if course.has_ended():
    course_state = "ended"
  elif course.has_started():
    course_state = "started"
  else:
    course_state = "upcoming"
  course_categories_ids = get_course_categories_ids(course)
%>

<article class="course" id="${course.id | h}" role="region" aria-label="${get_course_about_section(course, 'title')}" data-ifmo-course-state="${course_state}" data-ifmo-course-categories="${get_course_categories_ids()}">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course_image_url(course)}" alt="${get_course_about_section(course, 'title')} ${course.display_number_with_default}" />
          % if getattr(course, 'course_author', '') != '':
              <div class="ifmo-author-container">
                <div class="ifmo-author-data">
                  <span>${_s('Course author:', 'Course authors:', len(getattr(course, 'course_author')))}</span>
                  <p>${", ".join(getattr(course, 'course_author'))}</p>
                </div><div class="ifmo-author-filler"></div>
              </div>
          % else:
            <div class="learn-more" aria-hidden=true>${_("LEARN MORE")}</div>
          % endif
      </div>
    </header>
    <section class="course-info" aria-hidden=true>
      <h2 class="course-name">
        <span class="course-organization">${get_course_about_section(course, 'university')}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title ifmo-course-title">${get_course_about_section(course, 'title')}</span>
      </h2>
      <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.start_datetime_text()}</div>
    </section>
    <div class="sr">
      <ul>
      <li>${get_course_about_section(course, 'university')}</li>
      <li>${course.display_number_with_default}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</time></li>
    </ul>
    </div>
  </a>
</article>
