##mako

## This is an edited  copy of edx-platform/lms/templates/index.html [11.02.14 @aa43689a]
## It has additional random background from theme's static and "Anytime anywhere header".

<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="headextra">
<meta name="description" content="ITMOcourses ‒ открытое онлайн­обучение ­ это бесплатный доступ для всех желающих к учебным онлайн­курсам, разработанным в Университете ИТМО!">
<meta name="keywords" content="онлайн курсы бесплатно, курсы итмо, онлайн обучение, обучающие курсы, онлайн образование">
</%block>

<section class="home">

  <header class="ifmo-search ifmo-search-background ifmo-search-background-with-punchline">
      <div class="ifmo-search-punchline">Learn new anywhere and anytime with comfort!</div>
  </header>

  <section class="container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
                % if not (hasattr(course, 'hidden') and course.hidden):
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
                % endif
            %endfor
            </ul>
        </section>
      % endif

    </section>
  </section>
</section>