##mako

## TODO Move this to static_static templates

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="main.html" />

<%block name="pagetitle">${_("Partners")}</%block>

<%block name="headextra">
<meta name="title" content="ITMOcourses | Партнеры проекта" />
<meta name="description" content="ITMOcourses ‒ открытое онлайн­обучение ­ это бесплатный доступ для всех желающих к учебным онлайн­курсам, разработанным в Университете ИТМО!" />
<meta name="keywords" content="онлайн курсы бесплатно, курсы итмо, онлайн обучение, обучающие курсы, онлайн образование" />
</%block>

<section class="container about ifmo-content">

    <h1>Партнёры</h1>

    <hr class="horizontal-divider">

    <table>
    <tr>
      <td><p><a href="https://openedu.ru/" target="_blank"><img src="${static.url('themes/ifmo/images/partners/openedu_logo.png')}" alt="Открытое образование"/></a></td>
      <td>
        <p><b>Открытое образование</b> - современная образовательная платформа, предлагающая онлайн-курсы по дисциплинам, изучаемым в российских университетах. Платформа создана Ассоциацией "Национальная платформа открытого образования", учрежденной ведущими университетами - МГУ, НИТУ «МИСиС»,  НИУ ВШЭ, МФТИ, СПбГУ,  СПбПУ, Университет ИТМО и УрФУ.</p>
      </td>
    </tr>

    <tr>
      <td><p><a href="https://edx.org/" target="_blank"><img src="${static.url('themes/ifmo/images/partners/edx_logo.png')}" alt="edX"/></a></td>
      <td>
        <p><b>edX</b> - международная площадка открытого образования, основанная Гарвардским университетом и Массачусетским технологическим институтом. edX предлагает всем желающим пройти бесплатные онлайн-курсы от ведущих университетов мира по различным областям знаний. edX ведет разработку технологической платформы Open edX в открытом доступе на GitHub и предлагает участвовать в ее разработке. </p>
      </td>
    </tr>

    <tr>
      <td><p><a href="https://iversity.org/" target="_blank"><img src="${static.url('themes/ifmo/images/partners/iversity_logo.png')}" alt="edX"/></a></td>
      <td>
        <p><b>iversity</b> - европейская площадка онлайн-курсов, основанная в Германии Ханнесом Клоппером и Сандером Ниджссеном. iversity предлагает курсы как от университетов Европы, так и от различных общественных организаций. Успешное завершение онлайн-курса позволяет получить сертификат с кредитами ECTS, которые могут быть зачтены во многих университетах Европы и мира.</p>
      </td>
    </tr>

    <tr>
      <td><p><a href="https://htmlacademy.ru/" target="_blank"><img src="${static.url('themes/ifmo/images/partners/htmlacademy_logo.png')}" alt="HTML Academy"/></a></td>
      <td>
        <p><b>HTML Academy</b> - сервис для интерактивного обучения HTML и CSS. На HTML Academy каждый желающий может пройти базовые курсы, а затем углубить свои знания участием в «Интенсиве».  Полученные навыки с легкостью позволят начать работать HTML-верстальщиком или другим интернет-специалистом (прототипировщиком, интернет-маркетологом, контент-менеджером, SEO-специалистом).</p>
      </td>
    </tr>

    <tr>
      <td><p><a href="http://www.younico.ru/" target="_blank"><img src="${static.url('themes/ifmo/images/partners/Younico_logo.png')}" alt="Younico"/></a></td>
      <td>
        <p><b>Younico</b> предоставляет платформу для прохождения коротких онлайн-курсов от ведущих образовательных центров и лидеров бизнеса: высших учебных заведений, частных компаний (ИТ-компаний, консалтинговых и тренинговых компаний, коворкингов, компаний, работающих в области рекламы и PR).Цель Younico – создать удобный и доступный сервис, на котором каждый сможет найти полезные и интересные программы в любых областях, а также получить квалифицированную консультацию.</p>
      </td>
    </tr>
    </table>

</section>
