## mako

<%namespace name='static' file='/static_content.html'/>

## TODO Move all these style definitions to sass
<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">

      <div class="colophon-about" >
        <a href="http://www.ifmo.ru" target="_blank" style="width:60px;height:51px;"><img src="${static.url('themes/ifmo/images/logo_mini_footer.png')}" alt="ITMO logo" style="width:80px;height:51px;"/></a>
        <p style="color:#999; width:80%;">Saint-Petersburg National Research University of Information Technologies, Mechanics and Optics<br/>Distance Learning Center</p>
      </div>  

    </div>
 
    <div class="references ifmo-references">

      <!-- <p class="copyright">&copy; 2013 ITMOcources, some rights reserved.</p> -->

      <nav>
          <a href="http://vk.com/elearning.itmo"><img src="${static.url('themes/ifmo/images/social/footer/VK.png')}" alt="VK"/></a>
          <a href="https://plus.google.com/112003577328778744296/posts"><img src="${static.url('themes/ifmo/images/social/footer/google.png')}" alt="Google Plus"/></a>
          <a href="https://www.facebook.com/elearning.itmo"><img src="${static.url('themes/ifmo/images/social/footer/facebook.png')}" alt="Facebook"/></a>
          <a href="https://twitter.com/elearning_itmo"><img src="${static.url('themes/ifmo/images/social/footer/twitter.png')}" alt="Twitter"/></a>
          <!-- <a href="http://www.youtube.com/user/openITMO"><img src="${static.url('themes/ifmo/images/social/footer/youtube.png')}" alt="Youtube"/></a> -->
          <a href="http://www.ustream.tv/channel/openITMO"><img src="${static.url('themes/ifmo/images/social/footer/ustream.png')}" alt="ustream"/></a>
      </nav>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="/honor">Code of honor</a>
	  </li>
	  <li class="nav-legal-02">
            <a href="/tos">Terms of Service</a>
	  </li>
        </ul>
      </nav>

    </div>
  </footer>
</div>

<!-- If user browser does not support javascript and bg randomization -->
<noscript>
    <style type="text/css">
    header.ifmo-search-background {
        background-image: url("${static.url('themes/ifmo/images/logo_header_3_2.png')}") !important;
    }
    </style>
</noscript>

<%block name="js_extra">
<script language="JavaScript">
    // Add random background class to "search" panel
    $(document).ready(function(){
        var bgEl = $('.ifmo-search-background');
        if (bgEl.length) {
            var bgCount = 4;
            var bgId = Math.floor(Math.random() * bgCount);
            bgEl.addClass('ifmo-search-background-b' + bgId);
        }
    });
</script>
</%block>