## mako

<%! 
from django.core.urlresolvers import reverse 
from django.utils.translation import ugettext as _, pgettext as _p
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/navigation.html"/>

<%block name="navigation_logo">
  <img src="${static.url('themes/ifmo/images/header-logo.png')}" alt="ITMOcourses - Главная страница" />
</%block>

## Partners should be reversed by django
<%def name="partners_link()">
  <li class="nav-global-01">
     <a href="/about">${_p("ifmo-theme", "About us")}</a>
  </li>
  <li class="nav-global-02">
     <a href="/faq">${_p("ifmo-theme", "FAQ")}</a>
  </li>
  <li class="nav-global-03">
     <a href="/partners">${_p("ifmo-theme", "Partners")}</a>
  </li>
</%def>

## This will override "Help" link in dropdown for authenticated user
<%block name="navigation_dropdown_menu_links" >
</%block>

<%block name="navigation_global_links_authenticated">
  % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <li class="nav-global-04">
       <a href="${marketing_link('COURSES')}">${_("Find Courses")}</a>
    </li>
  % endif
  ${partners_link()}
</%block>

<%block name="navigation_global_links">
  ${partners_link()}
</%block>
